body {
    font-family: arial, serif;
    font-size: 16px;
    background-image: url("images/bg5.jpg");
}

table {
    margin: 0 auto;
    border-spacing: 15px;
}

.checkbox {
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 15px;
}

label {
    text-align: center;
}

td {
    border-radius: 15px;
    text-align: center;
    padding: 0;
}

@media (max-width: 1030px) and (min-width: 813px) {
    body {
        padding: 0 auto;
        margin: 0 auto;
        font-size: 13px;
    }

    th {
        font-size: 13px;
    }

    table {
        width: 100%;
        border-spacing: 0;
    }
}

@media (max-width: 812px) {

    body {
        padding: 0 auto;
        margin: 0 auto;
        font-size: 10px;
    }

    th {
        font-size: 10px;
    }

    table {
        width: 100%
    }
}